Body {
    background-image: url('https://youimg1.tripcdn.com/target/01049120009bxxqhp3FAB_C_640_320_R5_Q70.jpg_.webp?proc=source%2Ftrip');
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Sriracha', cursive;
       }

    header
    {
      background-color:rgb(122, 122, 122);
      color:white;
      height:70px;
      padding:10px;
    }

    footer {
     background-color:grey;
     color:rgb(240, 133, 33);
     height:70px;
     padding:10px;
     text-align: center;
}
  
 .mainpage 
 {
     width:1024px;
     margin:0 auto;
 }

 .headname{
     color: rgb(255, 138, 138);
 }
 .headname1{
    color: rgb(255, 43, 43);
}
